@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900;
  }
  p,
  li {
    @apply text-slate-700;
  }
  :root {
    --radius: 0.5rem;
  }
  * {
    scrollbar-color: #9ca3af #f9fafb;
  }

  *::-webkit-scrollbar-track {
    background: #f9fafb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
  }
}

@layer utilities {
  .clip-0 {
    clip-path: inset(-1px -1px -1px -1px);
  }
  .clip-100 {
    clip-path: inset(100% -1px -1px -1px);
  }
}
